extends layout

block content
    div
        //h1 #{breweries[0].name}
        each item in beers
            div

                h2 #{item.name}
                - if(undefined!=breweries[item.brewery_id-1])
                    h4 #{breweries[item.brewery_id-1].name}
                p #{item.descript}