extends layout

block content
  div(id='brewery_container' class="container")
    h1 Brewery List
    each item,i in data
        ul(class="list-group")
                li(class="list-group-item")
                    h4 #{item.name}
                    h5 #{item.shortName}
                    p #{item.description}
