extends layout

block content
    div
        //h1 #{breweries[0].name}
        each item in breweries
            div
                a(href="/getBeers?brewery_id="+ item.id)
                    h2 #{item.name}
                p #{item.country}