extends layout

block content
  
  div(id='country_container' style='width:30%')
      //a(href='/getBreweries')
          h1 get breweries
      //a(href='/getBeer')
          h1 get beer old
      //a(href='/api')
        h1 api
      script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
      script.
          // Load the Visualization API and the corechart package.
             google.charts.load('current', {'packages':['corechart']});

             // Set a callback to run when the Google Visualization API is loaded.
             google.charts.setOnLoadCallback(drawChart);

             // Callback that creates and populates a data table,
             // instantiates the pie chart, passes in the data and
             // draws it.
             function drawChart() {

               // Create the data table.
               var data = new google.visualization.DataTable();
               data.addColumn('string', 'Country');
               data.addColumn('number', 'count');
               var arr=[];
                 !{JSON.stringify(countries)}.forEach(function (t) {
                   var a=[];
                   a.push(t.name);
                   a.push(t.count);
                   arr.push(a)
               })
                 data.addRows(arr)

               /*data.addRows([
                 ['Mushrooms', 3],
                 ['Onions', 1],
                 ['Olives', 1],
                 ['Zucchini', 1],
                 ['Pepperoni', 2]
               ]);
               */
               // Set chart options
                 var options = {
                     'title': 'How Much brewery in the world',
                     'width': 700,
                     'height': 600
                 };

               // Instantiate and draw our chart, passing in some options.
               var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
               chart.draw(data, options);
             }
      ul(class="list-group")
      each item in countries
            li(class="list-group-item")
                a(href="/getBreweries?country="+item.name)
                    h2 #{item.name}
                    h4
                        span(class="badge badge-default") #{item.count}
  div(id="chart_div")