extends layout

block content
  div
      a(href='/getBeers')
        h1 get beers
      a(href='/getBreweries')
          h1 get breweries
      a(href='/getBeer')
          h1 get beer old
      each item in data.countrys
            div
              a(href="/getBreweries?country="+ item.name)
                  h2 #{item.name}
              h4 #{item.count}

