extends layout

block content
  div
      a(href='/getBeers')
        h1 get beers
      each item,i in data
        - var colapse="colapse"+i;
            div
              h2 #{item.name}
              h4 #{item.shortName}
              p #{item.description}
