body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#chart_div{
float:right;
}
#country_container{
  width:30%;
  float: left;
}
.list-group-item>a{

}
